* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    background-color: #fff;
}

.button {
    margin-top: 20px;
    padding: 15px 40px;
    border-radius: 100px;
    border: none;
    background-color: orangered;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    background-color: rgba(255, 69, 0, 0.5);
}

/** nav part start */
.nav-area {
    padding: 50px 25px;

}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-center,
.nav-button {
    display: none;
}


/** nav part end */

/** hero part start */

.hero-area {
    padding: 0 20px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    position: relative;
}

.hero-img img {
    width: 100%;
}

.hero-img .img-1 {
    position: absolute;
    z-index: -1;
    top: -280px;
    right: -180px;
    width: 600px;
}

.hero-img .img-1 img {
    width: 500px;
}


.hero-img .img-2 {
    width: 100%;
    height: 100%;
}

.hero-title {
    padding: 10px 0;
    text-align: center;
}

.hero-title h1 {
    font-size: 35px;
    padding: 15px 0;
}

.hero-title p {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 700;
    line-height: 28px;
    padding: 10px 15px;
}



/** hero part end */

/** about part start */

.about-area {
    padding: 60px 10px;
}

.about .about-left {
    text-align: center;
    padding-bottom: 50px;
}

.about-left h2 {
    font-size: 40px;
    width: 80%;
    margin: 0 auto;
    line-height: 55px;
}

.about-left p {
    padding-top: 25px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.about-right-details .details-all {
    display: flex;
    margin-bottom: 20px;
    background-color: rgba(255, 69, 0, 0.1);
    border-radius: 50px;
    text-align: center;
}

.details-all span {
    width: 70px;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
    border-radius: 100px;
    background-color: orangered;
}

.details-all h3 {
    padding: 10px;
}


.about-right-details p {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    line-height: 32px;
    padding-bottom: 50px;
}

/** about part end */

/** article part start */


.article {
    text-align: center;
    padding-bottom: 50px;
}

.article-top {
    padding-bottom: 100px;
    font-size: 30px
}


.article-center .article-center-title {
    width: 420px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

.article-center .article-center-title:hover {
    background-color: rgba(255, 69, 0, 0.1);
    transition: all 0.3s;
}

.article-center-title:nth-of-type(2),
.article-center-title:nth-of-type(3) {
    display: none;
}

.article-center-title div {
    position: absolute;
    top: -40px;
    left: 39%;
    width: 80px;
}

.article-center-title div img {
    width: 100%;
}

.article-center-title h3 {
    padding: 40px 0 30px 0;
}

.article-center-title q {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    line-height: 32px;
    padding-bottom: 30px;
}

.article-bottom {
    padding-top: 40px;
}


/** article part end */


/** section part start */

.section-area {
    width: 100%;
    background-color: orangered;
}

.section {
    text-align: center;
    padding: 100px 20px;
}

.section div {
    width: 90%;
    margin: 0 auto;
}

.section div h2 {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 62px;
}

.section button {
    font-size: 18px;
    margin-top: 20px;
    background-color: #fff;
    color: orangered;
    font-weight: bold;
}

.section button:hover {
    background-color: #fff;
    color: rgba(255, 69, 0, 0.5);
    transition: all 0.3s;
}

@media (min-width: 992px) {}

/** section part end */


/** footer part start */

.footer-area {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 20px;
}

.footer-button {
    padding: 30px 0;
    display: flex;
    gap: 20px;
}

.footer-button input {
    width: 80%;
    height: 50px;
    padding: 10px 10px 10px 30px;
    border-radius: 50px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;

}

.footer-button button {
    width: 20%;
    height: 50px;
    border-radius: 50px;
    background-color: orangered;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.footer-button button:hover {
    background-color: rgba(255, 69, 0, 0.5);
}

.footer-text {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 50px 100px;
}


.footer-text-left li {
    list-style: none;
    padding-bottom: 20px;
}

.footer-text-left li a {
    text-decoration: none;
    color: #fff;
}

.footer-text-left li a:hover {
    color: orangered;
    transition: all 0.3s;
}


.footer-details {
    padding: 0 80px;
    text-align: center;
}

.footer-details .footer-details-icon {
    gap: 20px;
}

.footer-details-icon i {
    font-size: 30px;
    color: #fff;
    margin: 0 10px;
}

.footer-details-icon i:hover {
    color: orangered;
    transition: all 0.3s;
}

.footer-details-logo {
    padding: 40px 0;
}

.footer-details-logo img {
    color: #fff;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright span {
    color: #fff;
}

.footer-tablet {
    display: none;
}



/** footer part end */